// app global css in SCSS form
.card-confs{
  border-radius: 12px;
}
.padding_6rem{
  padding-left: 6rem;
  padding-right: 6rem;
}
.light-border-right{
  border-right: 1px solid rgb(199, 199, 199);
}
.card-border{
  border: 1px solid rgb(199, 199, 199);
}
.loader-border{
  border-bottom: 1px solid $primary;
}
// .my-background{
//   @extend .card-border
// }
.my-background:hover{
  background-color: $primary;
  color: white !important;
}
