// app global css in SCSS form
.card-confs{
  border-radius: 12px;
}
.padding_6rem{
  padding-left: 6rem;
  padding-right: 6rem;
}
.light-border-right{
  border-right: 1px solid rgb(199, 199, 199);
}
.card-border{
  border: 1px solid rgb(199, 199, 199);
}
.loader-border{
  border-bottom: 1px solid $primary;
}
// .my-background{
//   @extend .card-border
// }
.my-background:hover{
  background-color: $primary;
  color: white !important;
}

.my-sticky-virtscroll-table {  /* height or max-height is important */
  height: 410px;

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th {
    background-color: #dadfe0;
  }
  thead tr th {
    position: sticky;
    z-index: 1;
  }  /* this will be the loading indicator */
  thead tr:last-child th {    /* height of all previous header rows */
    top: 48px;
  }
  thead tr:first-child th {
    top: 0;
  }
  /* prevent scrolling behind sticky top row on focus */
  tbody {    /* height of all previous header rows */
    scroll-margin-top: 48px;
  }
}
